@tailwind base;
@tailwind components;
@tailwind utilities;

.middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.body,
html {
  color: #00ff00;
  background-color: black;
}
